//default
html,body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
ul,li {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
a,
img {
	border: 0;
}
#gallery {//1
	position: relative;

	width: 100%;
	overflow: hidden;
	padding-bottom: 41.6666666667%;
	background: #555;

	.galleryList {  }

	.galleryList li {
		position: absolute;
		display:block;
		left: 0;
		top: 0;
		width: 100%;
	}
	.galleryList li a {
		display: block;
		font-size: 0;
		line-height: 0;
	}
	.testClass {
		*display:inline;
		display: flex;
		box-sizing: border-box;
		border-radius: 2px 2px;
		transform: translate(0,0,0);
	}
}
